.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "overview"
    "content"
    "content2"
    "content3"
    "content4"
    "footer";
}

.main-head {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
}

.main-nav {
  grid-area: nav;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  margin-top: 0px;
  height:auto;
}

.overview {
  grid-area: overview;
  background-color: purple;
}

.content {
  grid-area: content;
  background-color: lightblue;
}

.content2 {
  grid-area: content2;
  background-color: lightgreen;
}

.content3 {
  grid-area: content3;
  background-color: orange;
}
.content4 {
  grid-area: content4;
  background-color: pink;
}

.main-footer {
  grid-area: footer;
  background-color: grey;
}
