.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "overview"
    "content"
    "content2"
    "content3"
    "content4"
    "footer";
}

.main-head {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
}

.main-nav {
  grid-area: nav;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  margin-top: 0px;
  height:auto;
}

.overview {
  grid-area: overview;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.content {
  grid-area: content;
  background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
}

.content2 {
  grid-area: content2;
}

.content3 {
  grid-area: content3;
}

.content4 {
  grid-area: content4;
  background-color: green;
}

.main-footer {
  grid-area: footer;
}
