@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 3fr 3fr;
    grid-template-areas:
      "header header"
      "nav nav"
      "overview overview"
      "content content3"
      "content content3"
      "content2 content3"
      "content2 content3"
      "footer footer";
  }
}

@media (min-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-areas:
      "header    header  header"
      "nav    overview overview"
      "nav    content content3"
      "nav    content content3"
      "nav    content2 content3"
      "nav    content2 content3"
      "nav    footer  footer"
   }
}
