.content3Container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.content3ChartContainer {
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70%;
  box-shadow: 5px 5px 20px 0px #f09819;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.content3ChartStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.content3ChartDescriptionStyle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}
