.subHeadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to top, #764ba2 0%, #330867 50%);
}

.headerIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.profilePic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
}

.headIconPaddingStyle {
  padding-right: 20px
}

.headIconStyle {
  padding-right: 10px
}
