.overviewDateStyle {
  margin-right: 20px;
}

.overviewDateContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.overviewCardStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.overviewGraphContainerStyle {
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 33%;
  margin: 20px;
  border-radius: 48px;
  background-color: Midnightblue;
}
