body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.main-head {
  grid-area: header;
}

.profile {
  grid-area: profile;
}

.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.content3 {
  grid-area: content3;
}
.content4 {
  grid-area: content4;
}
.main-footer {
  grid-area: footer;
}

.overview {
  grid-area: overview;
}

.wrapper {
  display: grid;
  padding: 10px;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "profile"
    "nav"
    "overview"
    "content"
    "content2"
    "content3"
    "content4"
    "footer";
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      "header  header"
      "profile profile"
      "nav     nav"
      "overview overview"
      "content3 content"
      "content3 content2"
      "content4 footer"
      "content4 footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas:
      "profile header  header"
      "nav    overview overview"
      "nav    content content3"
      "nav    content content3"
      "nav    content2 content4"
      "nav    content2 content4"
      "footer footer  footer"
   }
   nav ul {
     display:flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: red;
     padding: 20px;
     margin: 20px;
   }
}
