body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.rowStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.columnStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Navigation*/
.navStyle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding: 20px;
  margin-right: 50px;
}

ul > li {
  margin-top: 30px;
}

@media (max-width: 1100px)  {
.navStyle {
    flex-direction: column;
  }
}

/*Overview*/
.overviewDateStyle {
  margin-right: 20px;
}

.overviewDateContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.overviewCardStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
